<div class="container pb-5 pt-5">
	<div class="row justify-content-center">
		<div class="col-12 col-sm-8">
  		<h2><%= @role.title %></h2>
			<p><%= @role.description %></p>

      <%= simple_form_for([@role, @audition]) do |f| %>
        <%= f.input :application_details %>
        <%= f.submit class: 'btn btn-primary btn-block' %>
      <% end %>
    </div>
	</div>
</div>

