<div class="container pb-5 pt-5 min-vh-100">
	<div class="row justify-content-center">
		<div class="col-12 col-sm-8">
  		<h6>Looking to audition for the role of:</h6>
      <h2 class="mb-3"><%= @role.title %></h2>
			<p><%= @role.description %></p>

      <%= simple_form_for([@role, @audition]) do |f| %>
        <%= f.input :application_details %>
        <%= f.submit 'Send Audition Request', class: 'btn btn-primary btn-block'  %>
      <% end %>
    </div>
	</div>
</div>

