<div class="card">
  <div class="container">
    <div class="row">
      <div class="col-8">
          <div class="card-body">
            <h2 class="card-title"><%= job.title %></h2>
            <h6 class="card-subtitle">Description:</h6>
            <p class="card-text"><%= job.description %></p>

            <h6 class="card-subtitle">Shooting location:</h6>
            <p class="card-text"><%= job.location %></p>
        </div>
      </div>
      <div class="col-4 bg-secondary">
        <div class="card-body h-100 d-flex flex-column justify-content-between">
          <div class="text-light">
            <h6 class="card-subtitle">Application Deadline:</h6>
            <p><%= job.application_deadline_date %></p>
          </div>
          <div class="text-light">
            <h6 class="card-subtitle">Shoot Date:</h6>
            <p><%= job.shoot_date %></p>
          </div>
          <%= link_to "View Details", job_path(job), class: "btn btn-primary btn-block" %>
        </div>
      </div>
    </div>
  </div>

</div>
<!--
    t.string "title"
    t.string "description"
    t.date "application_deadline_date"
    t.string "location"
    t.date "shoot_date"
    t.string "job_status"
 -->
