<div class="container mt-5">
	<div class="row pt-3">
		<div class="col-6">
			<h1 class="text-align-left"><strong><%= @performer.name %></strong></h1>
				<div class="d-flex bd-highlight">
					<img src=<%= @performer.image %> class="img-thumbnail" alt="..." max-width="100%">
				</div>
		</div>
		<div class="col-6">
			<div class="row flex-column pl-3r">
				<h1>Biography</h1>
					<p><%= @performer.bio %></p>
					<p><strong>Name:</strong> <%= @performer.name %><br>
					<strong>Gender:</strong> <%= @performer.gender %><br>
					<strong>Age:</strong> <%= @performer.age %><br>
					<strong>Ethnicity:</strong> <%= @performer.ethnicity %><br>
					<strong>Physical Attributes:</strong> <%= @performer.physical_attributes %><br>
					<strong>Email:</strong> <%= @performer.email %></p>
			</div>
			<div class="row">
        <% if policy(@performer).update? %>
          <%= link_to 'Edit Profile', edit_performer_path, class: 'btn btn-primary' %><br>
        <% end %>
			</div>
		</div>
	</div>
</div>

<% if policy(@performer).update? %>
  <div class="d-flex col ml-3 mt-5 mb-5 border">
  	<div class="row flex-column col pt-3 pl-3">
			<h2>Audition Status</h2>
      <% @auditions.each do |audition| %>
        <div class="accordion pb-3" id="accordion<%= audition.id.to_s %>">
          <div class="card">
            <div class="card-header" id="heading<%= audition.id.to_s %>">
              <h2 class="mb-0 d-flex">
                <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapse<%= audition.id.to_s %>" aria-expanded="true" aria-controls="collapse<%= audition.id.to_s %>">
                  <div class="d-flex mt-auto bd-highlight justify-content-between">
                    <div class="d-flex justify-content-start"><%= audition.role.title %></div>
                  <div class="d-flex mt-auto bd-highlight justify-content-between">
                    <div class="d-flex justify-content-end background-color-yellow">Status: <%= audition.status ? audition.status : "Pending" %></div>
                  </div>
                </button>
              </h2>
            </div>

            <div id="collapse<%= audition.id.to_s %>" class="collapse hide" aria-labelledby="heading<%= audition.id.to_s %>" data-parent="#accordion<%= audition.id.to_s %>">
              <div class="card-body">
                <strong><%= audition.job.title %></strong><br>
                <%= audition.job.description %>
              </div>
            </div>
          </div>
        </div>
      <% end %>
  	</div>
  </div>
<% end %>
