<div class="container">
	<div class="card mb-3">
		<img src='<%=@performer.image%>' class="card-img-top" alt="...">
		<div class="card-body">
			<h5 class="card-title text-center">
			<strong><%= @performer.name %></strong>
			</h5>
			<p class="card-text border">
			<p>Gender: <%= @performer.gender %></p>
			<p>Ethnicity: <%= @performer.ethnicity %></p>
			<p>Age: <%= @performer.age %></p>
			<p>Location: <%= @performer.location %></p>
			<p>Physcial Attributes: <%= @performer.physical_attributes %></p>
			<p>Biography: <%= @performer.bio %></p>
			</p>
			<p class="card-text"><small class="text-muted">Last updated <%= @performer.updated_at %></small></p>
		</div>
    <!-- add conditional to only display if user profile is correct -->
		<button type="button" class="btn btn-primary"><%= link_to "Edit Profile", edit_performer_path %></button>
	</div>
</div>


